{{define "footer"}}
<footer>
    <div class="affiliation">
        <span>LOREM IPSUM</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue feugiat
            justo imperdiet pharetra.</span>
    </div>
    <span>&copy; 2021 <a href="/">example.com</a></span>
    <div class="contact-icons">
        <a href="/contact-us"><object type="image/svg+xml" data="/static/img/icons/phone.svg"></object></a>
        <a href="/contact-us"><object type="image/svg+xml" data="/static/img/icons/mail.svg"></object></a>
    </div>
</footer>
{{end}}
