{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<div class="hero">
    <div class="hero-container container">
        <h1>Lorem Ipsum</h1>
        <div class="divider"></div>
        <p>Create RSVPs for physical and virtual Events with ease and manage them all from one place. </p>
    </div>
</div>

<div class="cta">
    <p>Welcome to <span class="text-primary">Events</span>!</p>
    <a href="/events/create" class="btn btn-primary">Get started</a>
</div>

<div class="sections">
    <section class="container">
        <figure>
            <img src="/static/img/svg/events.svg">
        </figure>
        <h2>Create Events and manage them from one place.</h2>
        <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue feugiat
            justo imperdiet pharetra. Curabitur semper enim eu libero malesuada, sit amet dictum
            ligula egestas. Nam vel viverra enim. Sed vitae sodales justo, vitae imperdiet tellus.</div>
    </section>

    <section class="container">
        <figure>
            <img src="/static/img/svg/security.svg">
        </figure>
        <h2>Only those who gets invited can attend.</h2>
        <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue feugiat
            justo imperdiet pharetra. Curabitur semper enim eu libero malesuada, sit amet dictum
            ligula egestas. Nam vel viverra enim. Sed vitae sodales justo, vitae imperdiet tellus.</div>
    </section>

    <section class="container">
        <figure>
            <img src="/static/img/svg/organizer.svg">
        </figure>
        <h2>Easily set up a reminder.</h2>
        <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue feugiat
            justo imperdiet pharetra. Curabitur semper enim eu libero malesuada, sit amet dictum
            ligula egestas. Nam vel viverra enim. Sed vitae sodales justo, vitae imperdiet tellus.</div>
    </section>

    <section class="container">
        <figure>
            <img src="/static/img/svg/to-do-list.svg">
        </figure>
        <h2>Inbuild checklist.</h2>
        <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue feugiat
            justo imperdiet pharetra. Curabitur semper enim eu libero malesuada, sit amet dictum
            ligula egestas. Nam vel viverra enim. Sed vitae sodales justo, vitae imperdiet tellus.</div>
    </section>

    <section class="container">
        <figure>
            <img src="/static/img/svg/fingerprint.svg">
        </figure>
        <h2>Custom QR code for events.</h2>
        <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue feugiat
            justo imperdiet pharetra. Curabitur semper enim eu libero malesuada, sit amet dictum
            ligula egestas. Nam vel viverra enim. Sed vitae sodales justo, vitae imperdiet tellus.</div>
    </section>
</div>
{{end}}