{{template "base" .}}

{{define "title"}}Events detail{{end}}

{{define "body"}}
<div class="event-detail px-page py-page invitations">
    {{with .Data}}
        <h1 class="text-title">{{.Event.Title}}</h1>
        <div class="tab mb-6">
            <a href="/events/{{.Event.ID}}/invitations?status=accepted" class='tab-item {{if eq .CurrentTab "accepted"}}active{{end}}'>
                <span>Accepted</span>
            </a>
            <a href="/events/{{.Event.ID}}/invitations?status=rejected" class='tab-item {{if eq .CurrentTab "rejected"}}active{{end}}'>
                <span>Rejected</span>
            </a>
            <a href="/events/{{.Event.ID}}/invitations?status=pending" class='tab-item {{if eq .CurrentTab "pending"}}active{{end}}'>
                <span>Pending</span>
            </a>
        </div>
        {{range .Invitations}}
        <div class="invitation-tile mb-4">
            <div class="avatar">
                <span class="material-icons">person_outline</span>
            </div>
            <div class="detail">
                <div class="email">{{.Email}}</div>
                <div class="time">
                    {{if eq $.Data.CurrentTab "accepted"}}
                    <span>Accepted at {{humanDate .Time}}</span>
                    {{end}}
                    {{if eq $.Data.CurrentTab "rejected"}}
                    <span>Rejected at {{humanDate .Time}}</span>
                    {{end}}
                </div>
            </div>
        </div>
        {{else}}
            <p class="text-gray text-center">Nothing here</p>
        {{end}}
    {{end}}
</div>
{{end}}
