@use "sass:map";
@use "sass:math";
@use "../lib/base/colors";

.invitations {
  .tab {
    display: flex;

    & > *:not(:first-child) {
      margin-left: .5rem;
    }

    & > *:not(:last-child) {
      margin-right: .5rem;
    }

    .tab-item {
      height: 56px;
      position: relative;
      padding: 0 .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: map.get(colors.$palette-gray, 500);

      &:hover {
        background-color: map.get(colors.$palette-gray, 50);
      }

      &:active {
        background-color: map.get(colors.$palette-gray, 100);
      }

      * {

      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 4px;
        background-color: transparent;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }

      &.active {
        * {
          color: map.get(colors.$palette-primary, 500);
        }

        &:after {
          background-color: map.get(colors.$palette-primary, 500);
        }
      }
    }
  }

  .invitation-tile {
    display: flex;

    .avatar {
      $size: 50;

      width: $size * 1px;
      height: $size * 1px;
      border-radius: math.div($size, 2) * 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: map.get(colors.$palette-gray, 200);
    }

    .detail {
      margin-left: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .time {
        font-size: 11px;
        color: map.get(colors.$palette-primary, 500);
      }
    }
  }
}