{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{template "title" .}} - Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="icon" type="image/x-icon" href="favicon.ico">-->
    <!--    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography mat-app-background">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        {{if not .User}}
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/register">Sign up</a>
        </li>
        {{end}}
        {{if .User}}
        <li>
            <a href="/events">Events</a>
        </li>
        <li>
            <a href="/events/create">Create event</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
        {{end}}
    </ul>

    {{if .User}}
    <div>{{.User.Names}}</div>
    {{end}}

    {{with .Flash}}
    <div class='flash'>{{.}}</div>
    {{end}}

    <main>
        {{template "body" .}}
    </main>

    {{template "footer" .}}
</body>
</html>
{{end}}