<form method="post">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="description" placeholder="Invitation description">
    Mode
    <select>
        <option value="virtual">Virtual</option>
        <option value="physical">Physical</option>
    </select>
    <div>
        Address
        <textarea name="address" placeholder="address"></textarea>
    </div>
    <input type="text" name="link" placeholder="link">
    <input type="text" name="number_of_seats" placeholder="Number of seats">
    <input type="datetime-local" name="start_time" placeholder="start_time">
    <input type="datetime-local" name="end_time" placeholder="end_time">
    <div>
        Welcome message
        <textarea name="address" placeholder="welcome_message"></textarea>
    </div>

    <input type="hidden" name="timezone" value="" id="timezone-input">

    <button type="submit">Submit</button>
</form>

<script>
    // set timezone
    window.addEventListener("load", function () {
        const tzElem = document.querySelector("#timezone-input");
        const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        tzElem.setAttribute("value", tz);
    })
</script>