@use "sass:math";
@use "sass:map";
@use "lib/main";
@use "lib/base/colors";
@use "lib/base/breakpoints";
@use "variables" as var;
@use "pages/home";
@use "pages/event-list";
@use "pages/event-form";
@use "pages/event-detail";
@use "modules/footer";
@use "modules/form";

// sticky footer
html, body {
  min-height: 100%;
}

body {
  position: relative;
  padding-bottom: var.$footer-height * 1px;
}

footer {
  position: absolute;
  bottom: 0;
}

// rule to disable scroll when nav is opened on small devices
@media screen and (max-width: breakpoints.$breakpoint-md) {
  body.no-scroll-on-nav-open {
    overflow: hidden;
  }
}

.pt-page { padding-top: 2rem; }

.pb-page { padding-bottom: 3rem; }

.py-page {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.px-page {
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-title {
  color: map.get(colors.$palette-primary, 500);
  margin-bottom: 2rem;
}

header {
  height: 56px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.17);
  padding: .5rem;

  .close-button {
    align-self: flex-end;
  }

  .app-name {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: .8rem;
    color: map.get(colors.$palette-primary, 500);
    cursor: pointer;
    text-decoration: none;
  }

  nav {
    position: absolute;
    top: 0;
    // bottom: 0;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: #ffffff;
    flex-direction: column;
    padding: .6rem;
    display: none;
    z-index: 1000;

    &.open-sm {
      display: flex;
    }

    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;

      .image {
        $size: 48;

        width: $size * 1px;
        height: $size * 1px;
        border-radius: math.div($size, 2) * 1px;
      }

      .name {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: .5rem;
        color: map.get(colors.$palette-gray, 500);
      }

      .search-button {

      }
    }

    .nav-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      list-style: none;
      margin: 0;
      padding: 0;

      & > * {
        margin-top: .3rem;
        margin-bottom: .3rem;
      }

      a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        color: map.get(colors.$palette-primary, 500) !important;
      }
    }
  }

  .tools {
    display: flex;
    align-items: center;
    margin-left: auto;

    #avatar-button {
      overflow: hidden;
      width: 38px;
      height: 38px;
      border-right: 19px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}

.icon-button {
  $size: 48;

  border: none;
  width: $size * 1px;
  height: $size * 1px;
  border-radius: math.div($size, 2) * 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: map.get(colors.$palette-gray, 50);
  }

  &:active {
    background-color: map.get(colors.$palette-gray, 100);
  }
}

.toast-container {
  position: fixed;
  bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & > * {
    background-color: map.get(colors.$palette-primary, 500);
    color: #ffffff;
  }
}

// todo:: move to a separate file
// buttons
.button-group {
  display: flex;
  flex-wrap: wrap;

  & > *:not(first-child) {
      margin-right: .4rem !important;
  }

  &.align-end {
      justify-content: flex-end;
  }

  &.align-center {
      justify-content: center;
  }

  &.vertical {
      flex-direction: column;
      align-items: center;

      & > * {
          margin-right: 0 !important;
          margin-left: 0 !important;
      }

      & > *:not(:first-child) {
          margin-bottom: .4rem !important;
      }
  }
}